<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Photos</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <div id="header">
                <div class="headerleft">
                    <h1 class="instamike">Simple Gallery</h1>
                    <h2 class="subtitle">Catchy Subtitles "r us</h1>
                </div>


                <div class="headerright">
                    {% if prev %}
                        <span class="pages"><a href="index.php?index={{ prev }}">Prev</a></span>
                    {% else %}
                        <span class="pagesnot">Prev</span>
                    {% endif %}
                    <span class="pages"><a href="index.php?index={{ home }}">Home</a></span>
                    {% if next %}
                        <span class="pages"><a href="index.php?index={{ next }}">Next</a></span>
                    {% else %}
                        <span class="pagesnot">Next</span>
                    {% endif %}
                </div>


                <div class="clearshit">
                </div>
            </div>
        </div>


        <div class="images">
            {% for photo in photos %}
            <img alt="" . $index ."" src="photos/{{ photo.index }}.jpg">

            <h3><span>{{ photo.date }}<br>
            <a href="photos/{{ photo.index }}.jpg">#{{ photo.index }}</a></span>
            </h2>
            {% endfor %}
        </div>
        <span class="subtitle">All images copyright Firstname Lastname, 2016. Gallery by <a href="https://github.com/yakamok/simple-gallery">yakamo</a></span>
    </div>
</body>
</html>
