@import('https://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin,latin-ext');

body, input, textarea {
    color:#ADADAD;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height:25px;
    padding: 0;
    margin: 0;
    background-color: #0C0900;
    text-align: center;
}
a {
    color: #ededed;
    text-decoration: none;
}
#header {
    text-align: left;
    width:95%;
    max-width: 642px;
    margin: 0 auto;
}
.instamike {font-size: 25px; font-weight: bold; padding: 15px;color: #e8e8e8;}
.subtitle {} 
#wrapper {
    width: 85%;
    max-width: 642px;
    margin: 0 auto;
}
#content {}
.images {
    font-size: 15px; 
    width: 100%;
    position: relative;
    margin-bottom: 10px; 
}
img {
    width: 100%;
}
h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align:right;
}
h2 span { 
    color: white; 
    font: bold 24px/45px; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    line-height:46px;
}
h2 a {
    padding-left: 10px;
}
.pagnation {text-align: right; margin-bottom: 5px;}
.pages {padding-left: 10px;}
.headlinks {padding-left: 15px;}
.pagesnot{color: #5c5c5c; padding-left: 10px;}
